In [3]:
import pandas as pd
import numpy as np

In [7]:
moon = pd.read_csv('C:\Users\cathe\Documents\Python docs\UFO_sightings\UFO-Sightings-Analysis\data\moon_phase_data.csv') #read in moon phases
weather = pd.read_csv('C:\Users\cathe\Documents\Python docs\UFO_sightings\UFO-Sightings-Analysis\data\weather.csv')

In [24]:
weather['STATE'] = weather['STATE'].str.lower() #make states lowercase to match the other data

In [23]:
ufo_atmosphere = pd.merge(moon, weather, left_on=[moon.state, moon.date], right_on=[weather.STATE, weather.Date], how='left')
ufo_atmosphere[:20]

,key_0,key_1,Unnamed: 0,datetime,city,state,country,shape,duration (seconds),duration (hours/min),...,latitude,longitude,label,index,date,phase,phaseid,Date,STATE,EVENT_TYPE
0,ny,1970-10-10,0,1970-10-10,bellmore,ny,us,disk,1800.0,30 min.,...,40.668611,-73.527500,0,12,1970-10-10,First Quarter,2,NaN,NaN,NaN
1,ky,1970-10-10,1,1970-10-10,manchester,ky,us,unknown,180.0,3 minutes,...,37.153611,-83.761944,0,13,1970-10-10,First Quarter,2,NaN,NaN,NaN
2,nc,1971-10-10,2,1971-10-10,lexington,nc,us,oval,30.0,30 seconds,...,35.823889,-80.253611,0,14,1971-10-10,Full Moon,3,NaN,NaN,NaN
3,ky,1972-10-10,3,1972-10-10,harlan county,ky,us,circle,1200.0,20minutes,...,36.843056,-83.321944,0,15,1972-10-10,New Moon,1,NaN,NaN,NaN
4,mi,1972-10-10,4,1972-10-10,west bloomfield,mi,us,disk,120.0,2 minutes,...,42.537778,-83.233056,0,16,1972-10-10,New Moon,1,NaN,NaN,NaN
5,ct,1973-10-10,5,1973-10-10,niantic,ct,us,disk,1800.0,20-30 min,...,41.325278,-72.193611,0,17,1973-10-10,First Quarter,2,NaN,NaN,NaN
6,ma,1974-10-10,6,1974-10-10,hudson,ma,us,other,2700.0,45 minutes,...,42.391667,-71.566667,0,19,1974-10-10,Last Quarter,4,NaN,NaN,NaN
7,ks,1974-10-10,7,1974-10-10,hudson,ks,us,light,1200.0,one hour?,...,38.105556,-98.659722,0,21,1974-10-10,Last Quarter,4,NaN,NaN,NaN
8,sc,1975-10-10,8,1975-10-10,north charleston,sc,us,light,360.0,5-6 minutes,...,32.854444,-79.975000,0,22,1975-10-10,New Moon,1,NaN,NaN,NaN
9,wa,1976-10-10,9,1976-10-10,washougal,wa,us,oval,60.0,1 minute,...,45.582778,-122.352222,0,23,1976-10-10,Full Moon,3,NaN,NaN,NaN
10,tx,1977-10-10,10,1977-10-10,san antonio,tx,us,other,30.0,30 seconds,...,29.423889,-98.493333,0,25,1977-10-10,Last Quarter,4,NaN,NaN,NaN
11,ky,1977-10-10,11,1977-10-10,louisville,ky,us,light,30.0,approx: 30 seconds,...,38.254167,-85.759444,0,26,1977-10-10,Last Quarter,4,NaN,NaN,NaN
12,ny,1978-10-10,12,1978-10-10,elmont,ny,us,rectangle,300.0,5min,...,40.700833,-73.713333,0,27,1978-10-10,First Quarter,2,NaN,NaN,NaN
13,ny,1979-10-10,13,1979-10-10,poughkeepsie,ny,us,chevron,900.0,15 minutes,...,41.700278,-73.921389,0,28,1979-10-10,Full Moon,3,NaN,NaN,NaN
14,ca,1979-10-10,14,1979-10-10,san diego,ca,us,oval,180.0,3 minutes,...,32.715278,-117.156389,0,30,1979-10-10,Full Moon,3,NaN,NaN,NaN
15,co,1979-10-10,15,1979-10-10,security,co,us,unknown,1800.0,30mins.,...,38.758333,-104.742500,0,31,1979-10-10,Full Moon,3,NaN,NaN,NaN
16,tx,1980-10-10,16,1980-10-10,houston,tx,us,sphere,180.0,3 min,...,29.763056,-95.363056,0,32,1980-10-10,New Moon,1,NaN,NaN,NaN
17,tx,1980-10-10,17,1980-10-10,dallas,tx,us,unknown,300.0,5 minutes,...,32.783333,-96.800000,0,33,1980-10-10,New Moon,1,NaN,NaN,NaN
18,nh,1980-10-10,18,1980-10-10,manchester,nh,us,light,300.0,3 to 5 min,...,42.995556,-71.455278,0,34,1980-10-10,New Moon,1,NaN,NaN,NaN
19,tx,1984-10-10,19,1984-10-10,houston,tx,us,circle,60.0,1 minute,...,29.763056,-95.363056,0,36,1984-10-10,Full Moon,3,1984-10-10,tx,Hail